:root{
    font-family: 'Prompt', sans-serif;
}

html,body{
    display: flex;
    flex-direction: row;
    background-image: url(/content/backround.jpg);
    background-size: 100%;
    height: 100%;
    margin: 0%;
}

.R_side{
    display: flex;
    height: 100%;
    min-height: 100%;
    flex-direction: column;
    align-items: stretch;
    background-color: #f7f7f7;
}


.R_text{
    display: flex;
    font-size: large;
    height: 40%;
    justify-content: center;
    align-items: center;
    padding-left: 2%;

}

h2 {
    text-align: left;
    width: 100%;
}

.form_header{
    width: 100%;
    padding-left: 2%;
    margin: 0;
    font-size: x-large;
}
.form{
    display: flex;
}

.white_space{
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    width: 100%;
    height: 100%;
    box-shadow: 0px 15px 7px -7px rgba(236,236,236,1);
}

.form_imput{
    width: 30%;
    display: grid;
    margin-left: 2%;
    height: 20%;
    margin-right: 5%;
}

.L_side{
    display: flex;
    width: 65%;
    
}
.div_logo{
    margin-top: 30%;
    margin-bottom: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.7);
    width: 100%;
}

.logo{
    color: white;
    font-size: 40px;
}

input{
    border-width: 1px;
    border-radius: 4px;
}
input:focus, textarea:focus, select:focus{
    outline-color: lightskyblue;
    box-shadow: 2px 2px 2px 2px lightgray;
}

button{
    text-align: center;
    border: none;
    background-color: #596D48;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    width: 30%;
    height: 50px;
}

button:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #596D48;
}

.R_bottom{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 2%;
    flex: 1;
}

.pasMatch{
    color: red;
    font-size: x-small;
    width: 100%;
    margin-left: 2%;
}

